* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: #1b55ad;
    /* centering */
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
#main-body {
    text-align: center;
    height: 100dvh;
    background-color: #1b55ad;

    /* display: flex;
    flex-flow: column nowrap;
    align-content: center;
    justify-content: space-around; */
}

h1, h2, label { color: white; }
button {
    font-weight: 600;
    outline: transparent;
    border: none;
    cursor: pointer;
}

/* input body */
#body {
    display: flex;
    position: relative;

    margin-bottom: 2%;

    flex-flow: column nowrap;
    align-items: center;

    textarea#url-input {
        width: 100%;
        padding: 1rem;
        outline: transparent;
        border: none;

        border-radius: 0.5rem 0.5rem 0 0;
        /* restricts resize vertically */
        resize: vertical;
    }
    #btn-submit {
        width: 100%;
        padding: 1rem 1.5rem;
        border-radius: 0 0 0.5rem 0.5rem;
        background-color: #18BC9C;
    }
    #btn-submit:hover{
        background-color: #28dbb7;
    }
    #btn-submit:disabled{
        cursor: default;
        background-color: #9b9b9c;
    }
}

.warning-pop-up{
    background-color: red;
    position: absolute;
    bottom: 50%;
    width: 100%;
}
.hide{
    display: none;
}


.btn-container{
    :first-child{
        width: 50%;
        background-color: #ffc107;
    }
    :first-child:hover{
        background-color: #ffd350;
    }
    :nth-child(2){
        float: right;
        width: 50%;
        background-color: #dc3545;
    }
    :nth-child(2):hover{
        background-color: #ec5a68;
    }
    :nth-child(3){
        margin-top: 2%;
    }
}
.btn-options{
    padding: 0.8rem 1rem;
}


/* url links */
#link-list{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    background-color: #073272;

    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #464b53 #bebebe60;

    .link-list-item{
        border-bottom: 1px solid black;
        width: 50%;
        padding: 0.5rem 1rem;
        background-color: white;
        cursor: pointer;
    }
    .link-list-item:hover{
        background-color: #d3d3d3;
    }
}
